@font-face {
    font-family: 'FaktMono';
    src: url(fonts/FaktMono-Normal.woff2) format('woff2');
}

body {
    font-family: FaktMono;
    text-align: left;
    color: darkviolet;
    background-color: white;
}

h1 {
    font-weight: 100;
    font-size: 48px;
    line-height: 24px;
    color: red;
    height: fit-content;
}

h2 {
    font-weight: 100;
    font-size: 48px;
    line-height: 12px;
    color: pink;
    height: fit-content;
}

p {
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0px;
    color: darkviolet;
    height: fit-content;
}

li {
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: darkviolet;
    list-style-type: circle;
    height: fit-content;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: blue;
    height: fit-content;
}

#header {
    background: white;
    margin-top: 24px;
    margin-left: 24px;
    a {font-size:48px; color:red; text-decoration: none;}
}

.grid-container-112 {
    display: grid;
    margin-top: 72px;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 24px;
}

.grid-container-121 {
    display: grid;
    margin-top: 72px;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 24px;
}

.card_grid {
    padding: 12px;
    margin-bottom: 24px;
    background-color: lightgoldenrodyellow;
}

.table {
    display: grid;
    margin-top: 12px;
    padding: 12px;
    outline: 1px solid red;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.card_table {
    vertical-align: middle;
}

.dot {
    vertical-align: middle;
    align-content: center;
    height: 25px;
    width: 25px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block; 
}

.dot_empty {
    vertical-align: middle;
    align-content: center;
    height: 25px;
    width: 25px;
    background-color: lightgoldenrodyellow;
    outline: 1px solid pink;
    border-radius: 50%;
    display: inline-block; 
}

#intro {
    margin-top: 0px;
    margin-left: 0px;
    padding: 12px 12px;
    position: static;
    outline: 1px solid red;
}

#intro_proj {
    margin-top: 0px;
    margin-left: 0px;
    text-transform: uppercase;
    padding: 6px 12px;
    position: static;
    outline: 1px solid red;
}

#contact {
    margin-top: 0px;
    padding: 6px 12px;
    position: static;
    outline: 1px solid red;
}

#projects {
    margin-top: 0px;
    padding: 6px 12px;
    position: static;
    outline: 1px solid red;
}

#footer {
    margin-bottom: 24px;
    margin-left: 24px;
    position: static;
    a {color:blue;}
}
